/* --- ヘッダー --- */
header {
  background-color: mediumblue;
  color: white;
  > nav {
    display: flex;
    justify-content: space-between;
    > ul {
      display: flex;
      gap: 1rem;
    }
  }
  a {
    color: white;
  }
}