@charset "UTF-8";
/* --- 共通CSS --- */
h3, h2.survey-header {
  padding-left: 0.7rem;
  border-left: solid 0.5rem mediumblue;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body.survey-body {
  max-width: 430px;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

h2 {
  font-size: clamp(24px, 2.6vw, 28px);
}
h2.survey-header {
  display: inline-block;
}

h3 {
  font-size: clamp(20px, 2.2vw, 24px);
}

/* --- 従業員ページログイン --- */
#login-form {
  display: grid;
  grid-template-columns: 30% 1fr;
  row-gap: 0.5rem;
  align-items: center;
}

/* --- ヘッダー --- */
header {
  background-color: mediumblue;
  color: white;
}
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > nav > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header a {
  color: white;
}
header form {
  display: inline;
}
header button {
  text-decoration: none !important;
  color: white !important;
}
header button:hover {
  text-decoration: underline !important;
}

/* --- アンケートページ --- */
textarea {
  height: 10rem;
}

/* --- 一般ユーザーページ --- */
#general-period {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  gap: 1rem;
}
#general-period > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 20%;
  align-items: center;
  gap: 1rem;
}

#commendation > ul {
  display: flex;
  gap: 1rem;
  font-size: clamp(16px, 2vw, 24px);
}
#commendation > ul li:nth-of-type(1) > span {
  color: gold;
}
#commendation > ul li:nth-of-type(2) > span {
  color: silver;
}
#commendation > ul li:nth-of-type(3) > span {
  color: saddlebrown;
}

.totalling > output {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 60% 40%;
}
.totalling > output > figure {
  background-color: lightgray;
}

#ranking > output {
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
}
#ranking > output > ul {
  font-size: clamp(16px, 2vw, 24px);
}
#ranking > output > ul li {
  cursor: pointer;
}
#ranking > output > ul li:nth-of-type(1) span:nth-of-type(1) {
  color: gold;
}
#ranking > output > ul li:nth-of-type(2) span:nth-of-type(1) {
  color: silver;
}
#ranking > output > ul li:nth-of-type(3) span:nth-of-type(1) {
  color: saddlebrown;
}
#ranking > output > div > span:nth-of-type(1) {
  color: gold;
}
#ranking > output > div > figure {
  height: 200px;
  background-color: lightgray;
}

/* --- マイページ --- */
#admin-update fieldset, #update fieldset {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1rem;
  align-items: center;
}
#admin-update fieldset > label, #update fieldset > label {
  font-weight: bold;
  padding: 0.5rem;
}

/* --- 管理者ページ --- */
#csv-file fieldset {
  display: grid;
  grid-template-columns: 20% 1fr 10%;
  gap: 1rem;
  align-items: center;
}

#admin-period {
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

#employee-name {
  display: grid;
  grid-template-columns: 20% repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
}

#aggregation fieldset {
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}
#aggregation output {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
#aggregation output figure {
  background-color: gray;
  height: 8rem;
}
#aggregation output p {
  text-align: center;
}

/* --- 管理者ページ 各一覧 --- */
#awards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1px;
}
#awards-list > div {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  height: 100%; /* 高さを確保 */
  text-align: center;
  background-color: gainsboro;
  padding: 0.5rem;
}
#awards-list > div:nth-of-type(-n+4) {
  background-color: gray;
  color: white;
  font-weight: bold;
}
#awards-list .star1 {
  color: gold;
}
#awards-list .star2 {
  color: silver;
}
#awards-list .star3 {
  color: saddlebrown;
}
#awards-list .grid-row {
  grid-row: span 3;
}

#voice-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1px;
}
#voice-list > div {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  height: 100%; /* 高さを確保 */
  text-align: center;
  background-color: gainsboro;
  padding: 0.5rem;
}
#voice-list > div:nth-of-type(-n+4) {
  background-color: gray;
  color: white;
  font-weight: bold;
}

#employee-list {
  display: grid;
  grid-template-columns: 10% repeat(6, 1fr);
  align-items: center;
  gap: 1px;
}
#employee-list > div {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  height: 100%; /* 高さを確保 */
  text-align: center;
  background-color: gainsboro;
  padding: 0.5rem;
}
#employee-list > div:nth-of-type(-n+7) {
  background-color: gray;
  color: white;
  font-weight: bold;
}

/* --- フッター --- */
footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  font-size: 0.7rem;
  background-color: mediumvioletred;
  color: white;
}/*# sourceMappingURL=style.css.map */