/* --- 一般ユーザーページ --- */
// 表示期間
#period {
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr);
  align-items: center;
  gap: 1rem
}

// 表彰回数
#commendation {
  > ul {
    display: flex;
    gap: 1rem;
    font-size: clamp(16px, 2.0vw, 24px);
    li {
      &:nth-of-type(1) > span {
        color: gold;
      }
      &:nth-of-type(2) > span {
        color: silver;
      }
      &:nth-of-type(3) > span {
        color: saddlebrown;
      }
    }
  }
}

// アンケート集計
#totalling {
  > output {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 60% 40%;
    > figure {
      background-color: lightgray;
    }
  }
}

// AIアドバイス
#advice {

}

// アンケート上位
#ranking {
  > output {
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    > div {
      > ul {
        font-size: clamp(16px, 2.0vw, 24px);
        li {
          cursor: pointer;
          &:nth-of-type(1) span:nth-of-type(1) {
            color: gold;
          }
          &:nth-of-type(2) span:nth-of-type(1) {
            color: silver;
          }
          &:nth-of-type(3) span:nth-of-type(1) {
            color: saddlebrown;
          }
        }
      }
      &:nth-of-type(2) {
        > span:nth-of-type(1) {
          color: gold;
        }
        > figure {
          height: 200px;
          background-color: lightgray;
        }
      }
    }
  }

}