/* --- マイページ --- */
%update {
  fieldset {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1rem;
    align-items: center;
    > label {
      font-weight: bold;
      padding: 0.5rem;
    }
  }
}

#update {
  @extend %update;
}

#admin-update {
  @extend %update;
}